/* CSS Document */


.leftNav{width: 200px; float:left; background-color:#f0f0f0;}
.leftNav h3{width:200px; height:135px; text-indent:-9999px;
        overflow:hidden; background:url(../images/sub1_leftTitle.jpg)}

.leftNav .leftMenu li a {display: block;height:57px; 
        text-indent:-9999px;overflow:hidden;}
	
.leftNav .leftMenu .menu1 a{
		background: url(../images/sub1_menu1.jpg);}
.leftNav .leftMenu .menu2 a{
		background: url(../images/sub1_menu2.jpg);}
.leftNav .leftMenu .menu3 a{
		background: url(../images/sub1_menu3.jpg);}
.leftNav .leftMenu .menu4 a{
		background: url(../images/sub1_menu4.jpg);}
	
.leftNav .leftMenu .menu1 a:hover{
		background: url(../images/sub1_menu1_h.jpg);}
.leftNav .leftMenu .menu2 a:hover{
		background: url(../images/sub1_menu2_h.jpg);}
.leftNav .leftMenu .menu3 a:hover{
		background: url(../images/sub1_menu3_h.jpg);}
.leftNav .leftMenu .menu4 a:hover{
		background: url(../images/sub1_menu4_h.jpg);}





