/* CSS Document */

.leftNav .leftMenu li .current{ background: url(../common/images/sub5_menu1_h.jpg);} 

.titleArea h2{width:112px; height:28px; background:url(../images/content1/heading.jpg);}
.titleArea p{width:43px; height:14px; background:url(../images/content1/text.jpg);}


