/* CSS Document */

.leftNav .leftMenu li .current{ background: url(../common/images/sub5_menu2_h.jpg);} 

.titleArea h2{width:112px; height:28px; background:url(../images/content2/heading.jpg);}
.titleArea p{width:91px; height:14px; background:url(../images/content2/text.jpg);}

